對以下成績資料做分析

6 號學生(student_id=6) 3 科平均分數為何？<br>
6 號學生 3 科平均分數是否有贏過班上一半的同學？<br>
由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？<br>
承上題，加分後各科班平均變多少？

In [56]:
import numpy as np
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70],
                         [2,90,45,34],
                         [3,45,32,55],
                         [4,70,77,89],
                         [5,56,80,70],
                         [6,60,54,55],
                         [7,45,70,79],
                         [8,34,77,76],
                         [9,25,87,60],
                         [10,88,40,43]],
                        columns=['student_id','math_score','english_score','chinese_score'])
score_without_id = score_df.drop(['student_id'], axis=1)
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [57]:
score_6 = score_without_id[score_df['student_id']==6]
print("Number 6 student's total score is %d" % (score_6.sum(axis=1)))

Number 6 student's total score is 169

In [58]:
class_mean_median = (score_without_id.mean(axis=1)).median()
if float(score_6.mean(axis=1)) >= class_mean_median:
    print("Student 6 has won half of class!")
else:
    print("Student 6 doesn't win~")

Student 6 doesn't win~

In [59]:
score_new = score_without_id.apply(lambda x: np.sqrt(x)*10)
score_new[score_df['student_id']==6]

   math_score  english_score  chinese_score
5   77.459667      73.484692      74.161985

In [60]:
score_new.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64