作業目標:

運用編碼處理類別資料<br>
補缺失值<br>
作業重點:

類別編碼有多種方法，需分辨使用方法與時機<br>
補缺失值須因應情境決定如何補值<br>
題目 : 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

In [62]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', 'None'],
                     ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [63]:
q_df = q_df.replace({'Profession':'None'}, 'others')

In [65]:
# LabelEncoder
pf1 = q_df.copy()
pf1['Sex_label'] = LabelEncoder().fit_transform(q_df['Sex'])
pf1['Profession_label'] = LabelEncoder().fit_transform(q_df['Profession'])
pf1

      Sex Profession  Sex_label  Profession_label
0    male    teacher          1                 2
1    male   engineer          1                 0
2  female     others          0                 1
3  female   engineer          0                 0

In [75]:
# get_dummies
pf2 = pd.get_dummies(q_df[['Sex']])
pf3 = pd.get_dummies(q_df[['Profession']])
pf = pd.concat([q_df, pf2, pf3], axis=1)
pf

,Sex,Profession,Sex_female,Sex_male,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,1,0,0,1
1,male,engineer,0,1,1,0,0
2,female,others,1,0,0,1,0
3,female,engineer,1,0,1,0,0

it's more appropriate to use get_dummies() in this exercise because in this kind of form, we can clearly read who has the same attributions with index equals 1. <br>
But with more categories form, i think LabelEncoder() is more appropriate because that if we use get_dummies(), the form will be too large, also we can clearly check how many categories in it.